// Social Buttons

ul.social-buttons {
    margin-bottom: 0;

    li {
        a {
            display: block;
            background-color: $gray-darkest;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;

            &:active,
            &:focus,
            &:hover {
                background-color: $brand-primary;
            }
        }
    }
}
